* {
    /* == CSS RESET == */
    margin: 0;
    padding: 0;

    /* == Color Assets */
    --bg-color: hsl(225, 100%, 94%);
    --bg-color-button: hsl(245, 75%, 52%);
    --bg-color-plan: hsla(224, 23%, 55%, .1);

    /* Font Assets */
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--bg-color);
    background-image: url(../images/pattern-background-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    width: 21rem;
    height: 31rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    font-size: .9rem;
}

.order-img img {
    width: 100%;
    border-radius: 1rem 1rem 0 0 ;
}

.order-summary {
    padding: 1rem;
    font-weight: bold;
}

.order-desc {
    width: 80%;
    margin: 0 auto;
}

.order-plan {
    display: flex;
    width: 80%;
    padding: .8rem;
    margin: 1rem auto;
    background-color: var(--bg-color-plan);
    border-radius: .5rem .5rem;
    align-items: center;
    justify-content: space-around;
}

.order-plan h2 {
    font-size: 1rem;
    font-weight: 700;
}

.order-plan a {
    color: var(--bg-color-button);
    font-weight: bold;
}

.order-plan a:active {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.725);
}

.order-plan .price {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: flex-start;
}

.price p {
    color: #797979;
}

.order-plan img {
    width: 2.5rem;
    height: 2.5rem;
}

.order-process a {
    display: block;
    padding: 1rem 1rem;
    border: none;
    margin: 0 auto;
    width: 80%;
    border-radius: .5rem;
    text-decoration: none;
    color: #797979;
    font-weight: bold;
}

.order-process a:first-child {
    background-color: var(--bg-color-button);
    color: white;
    font-weight: bold;
    box-shadow: 0px 10px 20px #ccc;
}

.order-process a:first-child:active {
    background-color: hsla(245, 75%, 52%, 0.853);
    color: white;
}

.order-process a:active {
    color: black;
}

/* == RESPONSIVE == */

@media (min-width: 375px) {
   body {
    background-image: url(../images/pattern-background-desktop.svg);
   } 
}